/* Fuentes */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

body {
    background-color: #eeeeee;
}


#calendar {
  background-color: white;
  padding: 20px;
}

.fc-popover {
  z-index: 3;
}

.breadcrumb {
  background-color: white;
}

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
  background-color: #08B2CB !important;
}

.btn-primary {
  background-color: #08B2CB !important;
  border-color: #08B2CB !important;
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #AAE5ED !important;
  border-color: #AAE5ED !important;
}

a, a:hover {
  color: #08B2CB;
}

.fc-event-dot {
  margin-top: 3px; 
  width: 30px;
  height: 20px;
  border-radius: 0;
}

.fc-list-item, .fc-event-container {
  cursor: pointer;
}

.fc-list-item:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

#calendarAside {
  background-color: white;
  padding: 20px;
}

.fc-content {
  text-align: center !important;
}